@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
body {
  transition: background-color 2s;
}
.container {
  width: 500px;
}
@media (max-width : 600px) {
  .container {
    width: auto;
  } 
}
.btn {
  transition: background-color 2s, border-color 2s;
}
/* #actual-screen {
  display: none;
} */